{% load url from future %}

<h1>{{ poll.question }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'vote' poll.id %}" method="post">
    {% csrf_token %}
    {% for choice in poll.choices %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.choice_text }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
    <input type="submit" value="Vote">
</form>
